<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gameLauncher" class="uk.ac.cf.cs.beetle.GameLauncher">
        <constructor-arg>
            <ref bean="gameView" />
        </constructor-arg>
    </bean>


    <bean id="gameView" class="uk.ac.cf.cs.beetle.GameView">
        <constructor-arg>
            <ref bean="bodyPartFactory" />
        </constructor-arg>
    </bean>

    <bean id="bodyPartFactory"
          class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
        <property name="serviceLocatorInterface" value="uk.ac.cf.cs.beetle.BodyPartFactory"/>
    </bean>

    <bean id="eye" name="1" class="uk.ac.cf.cs.beetle.Eye" scope="singleton" />
    <bean id="antenna" name="2" class="uk.ac.cf.cs.beetle.Antenna" scope="singleton" />
    <bean id="leg" name="3" class="uk.ac.cf.cs.beetle.Leg" scope="singleton" />
    <bean id="tail" name="4" class="uk.ac.cf.cs.beetle.Tail" scope="singleton" />
    <bean id="head" name="5" class="uk.ac.cf.cs.beetle.Head" scope="singleton" />
    <bean id="body" name="6" class="uk.ac.cf.cs.beetle.Body" scope="singleton" />
</beans>